
*.egg-info
__pycache__/
uv.lock
*.nvvp
*.nsys-rep
*.qdrep
*.ncu-rep
*.sqlite
*.prof
*.json
profiler/
traces/

# per-user env config
.env

# output filenames
output.png
output_edit.png
mminf-benchmark-cache/
output.wav
.bench_outs/
